*{
    padding: 0;
    margin: 0;
}
body{
    font-family: verdana, sans-serif;
}
    /*#wrapper{
        width: 360px;
        margin: 0 auto;
    }*/
    h1,h2,h3,h4,h5{
        margin: 8px 0 0 0;
    }
    #left-column, #right-column{
        display: inline-block;
        width: 48%;
        vertical-align: top;
    }
    .review-box{
        width: 80%;
        margin: 0 10px;
        border: 1px solid #666;
        border-radius: 3px;
        padding: 6px;
    }
    .book-box{
        border: 1px solid #ccc;
        padding: 3px;
        text-align: center;
    }
        p{
            margin: 0 0 10px 0;
        }
            span.info-font{
                font-size: 80%;
            }